.hero-unit
  %h1= 'Bienvenid@'

  %h2= 'Este es el home'

  = link_to "No hacer click!!!", "#", class: "btn btn-primary btn-large", rel: "tooltip", title: "TE QUIERO MI GUAPO!", id: "main_button", :'data-placement' => "bottom"

